<case value="text">
	<include file="Apps/JankzMaker/View/Elementary/text.html" />
</case>
<case value="textarea">
	<include file="Apps/JankzMaker/View/Elementary/textarea.html" />
</case>
<case value="password">
	<include file="Apps/JankzMaker/View/Elementary/password.html" />
</case>
<case value="select">
	<include file="Apps/JankzMaker/View/Elementary/select.html" />
</case>
<case value="checkbox">
	<include file="Apps/JankzMaker/View/Elementary/checkbox.html" />
</case>
<case value="divider">
	<include file="Apps/JankzMaker/View/Elementary/divider.html" />
</case>
<case value="icon-divider">
	<include file="Apps/JankzMaker/View/Elementary/icon-divider.html" />
</case>
<case value="label">
	<include file="Apps/JankzMaker/View/Elementary/label.html" />
</case>
<case value="labels">
	<include file="Apps/JankzMaker/View/Elementary/labels.html" />
</case>
<case value="textarea">
	<include file="Apps/JankzMaker/View/Elementary/textarea.html" />
</case>
<case value="slider">
	<include file="Apps/JankzMaker/View/Elementary/slider.html" />
</case>
<case value="toggle">
	<include file="Apps/JankzMaker/View/Elementary/toggle.html" />
</case>
<case value="radio">
	<include file="Apps/JankzMaker/View/Elementary/radio.html" />
</case>
<case value="button">
	<include file="Apps/JankzMaker/View/Elementary/button.html" />
</case>
<case value="buttons">
	<include file="Apps/JankzMaker/View/Elementary/buttons.html" />
</case>
<case value="wangEditor">
	<include file="Apps/JankzMaker/View/Elementary/wangEditor.html" />
</case>







