<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <block name="metatitle"></block>
    <meta name="keywords" content="H+后台主题,后台bootstrap框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html" />
    <![endif]-->

    <link rel="shortcut icon" href="favicon.ico">
    <link href="__PUBLIC__/Common/hplus/css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="__PUBLIC__/Common/hplus/css/font-awesome.min.css?v=4.4.0" rel="stylesheet">
    <link href="__PUBLIC__/Common/hplus/css/animate.min.css" rel="stylesheet">
    <link href="__PUBLIC__/Common/hplus/css/style.min.css?v=4.0.0" rel="stylesheet">
    <block name="my_css"></block>
</head>
    <body class="gray-bg">
    <block name="main"></block>

    <script src="__PUBLIC__/Common/hplus/js/jquery.min.js?v=2.1.4"></script>
    <script src="__PUBLIC__/Common/hplus/js/bootstrap.min.js?v=3.3.5"></script>
    <block name="my_js"></block>
</body>

</html>