<extend name="./Apps/Admin/View/Public/main.html" />
<block name="my_css"></block>
<block name="main">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title"></h3>

            <div class="box-tools pull-right"></div>
        </div>

        <div class="box-body">
            <form class="ui form" action="{{$post_url}}">
                <div class="ui grid">
                    <div class="one wide column"></div>
                    <div class="ten wide column">
                        <div class="ui container" style="margin-top: 40px">
                            <volist name="fields" id="item">
                                <switch name="item.type">
                                    <include file="Apps/JankzMaker/View/Common/case.html" />
                                    <case value="fields">
                                        <div class="{{$item.class}} fields">
                                            <volist name="item.conf" id="inline">
                                                <switch name="inline.type">
                                                    <include file="Apps/JankzMaker/View/Common/inlinecase.html" />
                                                </switch>
                                            </volist>
                                        </div>
                                    </case>
                                </switch>
                            </volist>
                            <a class="ui teal button is_ajax_post">保存</a>
                            <a class="ui grey button go_back">返回</a>
                        </div>
                    </div>

                </div>
            </form>
        </div>

        <div class="box-footer"></div>
    </div>

</block>
<block name="my_js">
    <script type="text/javascript">
    $(document).ready(function(){
        $(".is_ajax_post").click(function(){
            $.post($('form').attr('action'),$('form').serialize(), function(data, textStatus, xhr) {
                layer.msg(data.info,{offset:'100px'},function () {
                   if(data.status ==1){
                      location.href = data.url;
                   }
                })
            });
        });
        $('.go_back').click(function(){

        });
    });
</script>
</block>