<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Jzopen--超级后台</title>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/site.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/fontawesome/v4.5/css/font-awesome.css">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/lte.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/reset.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/site.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/divider.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/form.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/input.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/button.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/dropdown.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/label.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/checkbox.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/accordion.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/transition.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/table.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/search.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/semantic/v2.1.7/components/grid.css">



    <link rel="stylesheet" href="__PUBLIC__/libs/laypage/v1.3/skin/laypage.css">
    <link rel="stylesheet" href="__PUBLIC__/libs/layer/v2.1/skin/layer.css">
    <link rel="stylesheet" type="text/css" href="__PUBLIC__/libs/wang/css/wangEditor.min.css">


    <link rel="stylesheet" href="__PUBLIC__/admin/css/skins/_all-skins.min.css">
    <link type="image/x-icon" href="__PUBLIC__/favicon1.png" rel="shortcut icon" />
    <link href="__PUBLIC__/favicon1.png" rel="bookmark icon" />
    <style type="text/css" media="screen">
        ul.navbar-nav>li{
            float:left;
            padding:0 5px;
            margin:5px;
        }
    </style>
    <block name="my_css"></block>

    <script src="__PUBLIC__/libs/jquery/jquery-1.11.3.min.js"></script>
    <script src="__PUBLIC__/libs/semantic/v2.1.7/components/form.js"></script>
    <script src="__PUBLIC__/libs/semantic/v2.1.7/components/transition.js"></script>
    <script src="__PUBLIC__/libs/semantic/v2.1.7/components/dropdown.js"></script>
    <script src="__PUBLIC__/libs/semantic/v2.1.7/components/checkbox.min.js"></script>
    <script src="__PUBLIC__/libs/semantic/v2.1.7/components/accordion.js"></script>

</head>
<body class="hold-transition skin-blue sidebar-mini">
<div class="wrapper">

    <header class="main-header">
        <a href="{{:U('Admin/Index/index')}}" class="logo">
            <span class="logo-mini"><b>j</b>z</span>
            <span class="logo-lg"><b>Jz</b>open</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
            </a>
            <div class="navbar-custom-menu">
                <ul class="nav navbar-nav">
                 <li>
                        <a href="{{:U('Public/loginout')}}">退出</a>
                    </li>
                    <li>
                        <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                    </li>
                </ul>
            </div>
        </nav>
    </header>

    <aside class="main-sidebar">
        <section class="sidebar">
            <div class="user-panel">
                <div class="pull-left image">
                    <img src="__PUBLIC__/admin/images/profile_small.jpg" class="img-circle" alt="User Image">
                </div>
                <div class="pull-left info">
                    <p>{{$_SESSION['manager_info']['username']}}</p>
                    <a href="#"><i class="fa fa-circle text-success"></i>{{$_SESSION['manager_info']['manager_type']}} Online</a>
                </div>
            </div>
            <ul class="sidebar-menu">
                <li class="header">Menu</li>
                 <volist name="allmenu" id="first_menu">
                        <if condition="$first_menu.pid eq 0">
                        <li class="treeview <?php if($breadcrumb[0]['title'] == $first_menu['title']) echo 'active';?>">
                            <empty name="first_menu.0">
                                <a href="{{:U($first_menu['url'])}}">
                                    <i class="fa fa-{{$first_menu.icon}}"></i>
                                   <span>{{$first_menu.title}}</span>
                                </a>
                            <else/>
                                <a href="#">
                                <i class="fa fa-{{$first_menu.icon}}"></i>
                                <span>{{$first_menu.title}}</span>
                                <i class="fa fa-angle-left pull-right"></i>
                                </a>
                                <ul class="treeview-menu">
                                <volist name="first_menu[0]" id ="second_menu">
                                   <li class="<?php if($breadcrumb[1]['title'] == $second_menu['title']) echo 'active';?>">
                                     <empty name="second_menu.0">
                                        <a href="{{:U($second_menu['url'])}}" >
                                        <i class="fa fa-{{$second_menu.icon}}"></i>
                                       {{$second_menu.title}}
                                        </a>
                                         <else/>
                                        <a href="#">
                                        <i class="fa fa-{{$second_menu.icon}}"></i>
                                        {{$second_menu.title}}
                                         <i class="fa fa-angle-left pull-right"></i>
                                        </a>
                                        <ul class="treeview-menu">
                                            <volist name="second_menu[0]" id="third_menu">
                                                <li class="<?php if($breadcrumb[2]['title'] == $third_menu['title']) echo 'active';?>">
                                                <a href="{{:U($third_menu['url'])}}">
                                                        <i class="fa fa-{{$third_menu.icon}}"></i>
                                                    {{$third_menu.title}}
                                                </a>
                                                </li>
                                            </volist>
                                        </ul>
                                     </empty>
                                    </li>
                                </volist>
                            </ul>
                            </empty>
                        </li>
                        </if>
                    </volist>
            </ul>
        </section>
    </aside>
    <div class="content-wrapper">
        <section class="content-header">
            <h3>
                {{$meta_title}}
                <small></small>
            </h3>
            <!-- 面包屑导航 -->
            <present name="breadcrumb">
                <ol class="ui breadcrumb">
                    <li><i class="fa fa-dashboard"></i></li>
                    <volist name="breadcrumb" id="vo">
                        <li><a href="{{:U($vo.url)}}"><i class="fa fa-{{$vo.icon}}"></i>{{$vo["title"]}}</a></li>
                    </volist>
                </ol>
            <else/>
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li class="active">Dashboard</li>
                </ol>
            </present>
        </section>
        <section class="content">
         <block name="main"></block>
        </section>
    </div>
    <footer class="main-footer">
        <div class="pull-right hidden-xs">
            <b>Version</b> 1.0
        </div>
        <strong>Copyright &copy; 2014-2015 <a href="http://jzopen.com">Jzopen</a>.</strong> All rights
        reserved.
    </footer>

    <aside class="control-sidebar control-sidebar-dark">
        <ul class="nav nav-tabs nav-justified control-sidebar-tabs">

        </ul>
        <div class="tab-content">
            <div class="tab-pane" id="control-sidebar-home-tab">
            </div>

        </div>
    </aside>
    <div class="control-sidebar-bg"></div>

</div>

<script src="__PUBLIC__/libs/fastclick/fastclick.js"></script>
<script src="__PUBLIC__/admin/js/app.js"></script>
<script src="__PUBLIC__/libs/semantic/v2.1.7/components/form.js"></script>
<script src="__PUBLIC__/libs/semantic/v2.1.7/components/transition.js"></script>
<script src="__PUBLIC__/libs/semantic/v2.1.7/components/dropdown.js"></script>
<script src="__PUBLIC__/libs/semantic/v2.1.7/components/checkbox.min.js"></script>
<script src="__PUBLIC__/libs/semantic/v2.1.7/components/accordion.js"></script>

<script src="__PUBLIC__/libs/slimeScroll/v1.3.8/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/libs/layer/v2.1/layer.js"></script>
<script src="__PUBLIC__/libs/laydate/v1.1/laydate.js"></script>
<script src="__PUBLIC__/libs/laypage/v1.3/laypage.js"></script>
<!-- <script src="__PUBLIC__/libs/pace/v1.0.2/pace.min.js"></script> -->

<script src="__PUBLIC__/admin/js/demo.js"></script>

<script>
    $(document).ready(function () {
        $('select.ui.dropdown')
                .dropdown()
        ;
        $('.ui.radio.checkbox')
                .checkbox()
        ;
        $('.ui.checkbox')
                .checkbox()
        ;
        $('.ui.accordion')
                .accordion()
        ;
    });


</script>

    <block name="my_js"></block>
</body>
</html>
