<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <title>jzopen 后台主题UI框架 - 主页</title>
    <link rel="shortcut icon" type="image/ico" href="http://localhost/jz/Public/favicon1.ico">
    <meta name="keywords" content="JZ后台主题,后台Semantic UI Bootstrap 框架,会员中心主题,后台HTML,响应式后台">
    <meta name="description" content="H+是一个完全响应式，基于Bootstrap3 Semantic 最新版本开发的扁平化主题，她采用了主流的左右两栏式布局，使用了Html5+CSS3等现代技术">

    <!--[if lt IE 8]>
    <meta http-equiv="refresh" content="0;ie.html"/>
    <![endif]-->
    <link href="__PUBLIC__/libs/bootstrap/bootstrap-3.3.5/css/bootstrap.min.css" rel="stylesheet">
    <link href="__PUBLIC__/libs/fontawesome/v4.5/css/font-awesome.min.css" rel="stylesheet">
    <link href="__PUBLIC__/libs/animate/v3.5.1/animate.min.css" rel="stylesheet">
    <link rel="stylesheet" href="__PUBLIC__/admin/css/jz.css">
    <link type="image/x-icon" href="__PUBLIC__/favicon1.png" rel="shortcut icon" />
    <link href="__PUBLIC__/favicon1.png" rel="bookmark icon" />
    <style>
        /*#content-main {*/
            /*overflow: hidden;*/
            /*height: calc(100% - 80px);*/
        /*}*/
        @media (max-width: 960px)
            #content-main {
                height: calc(100% - 80px);
            }
        .minimalize-styl-2 {
            padding: 0;
            margin: 0;
        }
        @media (max-width: 768px)
            #content-main {
                height: calc(100% - 40px);
            }

    </style>

</head>

<body class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
<div id="wrapper">
    <!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="nav-close"><i class="fa fa-times-circle"></i>
            </div>
            <div class="sidebar-collapse">
                <ul class="nav" id="side-menu">
                    <li class="nav-header">
                        <div class="dropdown profile-element">
                            <span><img alt="image" class="img-circle" src="__PUBLIC__/admin/images/profile_small.jpg" /></span>
                            <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                                <span class="clear">
                               <span class="block m-t-xs"><strong class="font-bold">{{$_SESSION['manager_info']['username']}}</strong></span>
                                <span class="text-muted text-xs block">{{$_SESSION['manager_info']['manager_type']}}<b class="caret"></b></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu animated fadeInRight m-t-xs">
                                <li><a class="J_menuItem" href="form_avatar.html">修改头像</a>
                                </li>
                                <li><a class="J_menuItem" href="profile.html">个人资料</a>
                                </li>
                                <li><a class="J_menuItem" href="contacts.html">联系我们</a>
                                </li>
                                <li><a class="J_menuItem" href="mailbox.html">信箱</a>
                                </li>
                                <li class="divider"></li>
                                <li><a href="login.html">安全退出</a>
                                </li>
                            </ul>
                        </div>
                        <div class="logo-element">Jz
                        </div>
                    </li>
                    <!-- <li>
                        <a href="#">
                            <i class="fa fa-home"></i>
                            <span class="nav-label">主页</span>
                            <span class="fa arrow"></span>
                        </a>
                        <ul class="nav nav-second-level">
                            <li>
                                <a class="J_menuItem" href="{{:U('Menu/add')}}" data-index="0">添加菜单</a>
                            </li>
                            <li>
                                <a class="J_menuItem" href="index_v1.html" data-index="0">主页示例一</a>
                            </li>
                        </ul>
                    </li> -->
                    <volist name="info" id="first_menu">
                        <if condition="$first_menu.pid eq 0">
                        <li>
                            <empty name="first_menu.0">
                                <a href="{{:U($first_menu['url'])}}" class="J_menuItem">
                                    <i class="fa fa-{{$first_menu.icon}}"></i>
                                    <span class="nav-label"> {{$first_menu.title}}</span>
                                </a>
                            <else/>
                                <a href="#">
                                <i class="fa fa-{{$first_menu.icon}}"></i>
                                <span class="nav-label"> {{$first_menu.title}}</span>
                                <span class="fa arrow"></span>
                                </a>
                                <ul class="nav nav-second-level">
                                <volist name="first_menu[0]" id ="second_menu">
                                   <li>
                                     <empty name="second_menu.0">
                                        <a href="{{:U($second_menu['url'])}}" class="J_menuItem" >
                                        <i class="fa fa-{{$second_menu.icon}}"></i>
                                        <span class="nav-label">{{$second_menu.title}}</span>
                                        </a>
                                         <else/>
                                        <a href="#">
                                        <i class="fa fa-{{$second_menu.icon}}"></i>
                                        <span class="nav-label">{{$second_menu.title}}</span>
                                        <span class="fa arrow"></span>
                                        </a>
                                        <ul class="nav nav-third-level">
                                            <volist name="second_menu[0]" id="third_menu">
                                                <li>
                                                <a class="J_menuItem" href="{{:U($third_menu['url'])}}">
                                                        <i class="fa fa-{{$third_menu.icon}}"></i>
                                                    <span class="nav-label">{{$third_menu.title}}</span>
                                                </a>
                                                </li>
                                            </volist>
                                        </ul>
                                     </empty>
                                    </li>
                                </volist>
                            </ul>
                            </empty>
                        </li>
                        </if>
                    </volist>

                </ul>
            </div>
        </nav>
    <!--左侧导航结束-->
    <!--右侧部分开始-->
    <div id="page-wrapper" class="gray-bg dashbard-1">
        <div class="row content-tabs">
            <!--  <button class="roll-nav roll-left J_tabLeft"><i class="fa fa-backward"></i>
             </button> -->
            <a class="roll-nav roll-left J_tabLeft navbar-minimalize minimalize-styl-2" href="#"><i
                    class="fa fa-bars"></i> </a>
            <nav class="page-tabs J_menuTabs">
                <div class="page-tabs-content">
                    <a href="javascript:;" class="active J_menuTab" data-id="index_v1.html">首页</a>
                </div>
            </nav>

            <a class="roll-nav roll-right J_tabExit is_ajax_get"><i class="fa fa fa-sign-out"></i>退出</a>
        </div>
        <div class="row J_mainContent" id="content-main">
            <iframe class="J_iframe" name="iframe0" width="100%" height="100%" src="{{:U('Admin/index/main')}}" frameborder="0"
                    data-id="index_v1.html" seamless></iframe>
        </div>
        <div class="footer">
            <div class="pull-right">&copy; 2014-2015 <a href="http://www.jankz.com" target="_blank">楠哲科技</a>
            </div>
        </div>
    </div>

</div>
<script src="__PUBLIC__/libs/jquery/jquery-2.1.4.js"></script>
<script src="__PUBLIC__/libs/bootstrap/bootstrap-3.3.5/js/bootstrap.min.js"></script>
<script src="__PUBLIC__/libs/metisMenu/v2.4.3/metisMenu.min.js"></script>
<script src="__PUBLIC__/libs/slimeScroll/v1.3.8/jquery.slimscroll.min.js"></script>
<script src="__PUBLIC__/admin/js/jz.min.js"></script>
<script src="__PUBLIC__/libs/layer/v2.1/layer.js"></script>
<script src="__PUBLIC__/admin/js/contabs.min.js"></script>
<script src="__PUBLIC__/libs/pace/v1.0.2/pace.min.js"></script>
<script type="text/javascript">
  jQuery(document).ready(function() {
    $('.is_ajax_get').click(function() {
        $.get("{{:U('Admin/Public/loginout')}}", function(data) {
            /*optional stuff to do after success */
            layer.msg(data.info,{offset:'100px'},function(){
                 if(data.status == 1){
                location.href = data.url;
            }
            });
        });
    });
  });
</script>
</body>

</html>