<extend name = "Public:main"/>
    <block name="main">
        <form class="ui form attached fluid segment">
    <div class="two fields">
        <div class="field">
            <div class="field">
                <label>First Name</label>
                <input placeholder="First Name" type="text">
            </div>
            <div class="field">
                <label>First Name</label>
                <input placeholder="First Name" type="text">
            </div>
        </div>
        <div class="field">
            <div class="field">
                <label>Gender</label>
                <select class="ui dropdown">
                    <option value="">Gender</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="field">
                <label>Gender</label>
                <select class="ui dropdown">
                    <option value="">Gender</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="field">
                <label>Gender</label>
                <select class="ui dropdown">
                    <option value="">Gender</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>
            <div class="field">
                <label>Gender</label>
                <select class="ui dropdown">
                    <option value="">Gender</option>
                    <option value="1">Male</option>
                    <option value="0">Female</option>
                </select>
            </div>

        </div>
    </div>
    <div class="field">
        <label>Username</label>
        <input placeholder="Username" type="text">
    </div>
    <div class="field">
        <label>Password</label>
        <input type="password">
    </div>
    <div class="inline field">
        <div class="ui checkbox">
            <input type="checkbox" id="terms">
            <label for="terms">I agree to the terms and conditions</label>
        </div>
    </div>
    <div class="ui blue submit button">Submit</div>
</form>
    </block>