<extend name="Public:main"/>
<block name="title">
    <title>系统设置</title>
</block>

<block name="main">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <!-- <h5>所有表单元素 <small>包括自定义样式的复选和单选按钮</small></h5> -->
 <a class="btn btn-primary radius" href="javascript:location.replace(location.href);" title="刷新" > <i class="fa fa-refresh"></i></a>
                        <div class="ibox-tools">
                            <a class="collapse-link">
                                <i class="fa fa-chevron-up"></i>
                            </a>
                            <a class="dropdown-toggle" data-toggle="dropdown" href="form_basic.html#">
                                <i class="fa fa-wrench"></i>
                            </a>
                            <ul class="dropdown-menu dropdown-user">
                                <li><a href="form_basic.html#">选项1</a>
                                </li>
                                <li><a href="form_basic.html#">选项2</a>
                                </li>
                            </ul>
                            <a class="close-link">
                                <i class="fa fa-times"></i>
                            </a>

                        </div>
                    </div>
                    <div class="ibox-content">
                        <form class="form-horizontal" class="is_post">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">站点名称</label>

                                <div class="col-sm-5">
                                    <input type="text" class="form-control" name="title">
                                </div>
                                <label class="col-sm-1 control-label">关闭站点</label>
                                <div class="col-sm-4">
                                    <input type="text" class="form-control" name="sort">
                                </div>

                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">站点描述</label>
                                <div class="col-sm-10">
                                    <textarea name="maindesc" class="form-control"></textarea>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>

                            <div class="form-group">
                                <label class="col-sm-2 control-label">关键词</label>
                                <div class="col-sm-10">
									<textarea name="mainwords" class="form-control"></textarea>
                                </div>
                            </div>

                            <div class="hr-line-dashed"></div>

                            <button type="button" class="btn btn-primary btn-block">提交</button>
                            <div class="hr-line-dashed"></div>
                            </form>
                    </div>
                </div>
            </div>
        </div>
</block>