<div class="grouped fields">
    <label>Outbound Throughput</label>
    <div class="field">
      <div class="ui slider checkbox">
        <input type="radio" name="throughput" checked="checked">
        <label>20 mbps max</label>
      </div>
    </div>
    <div class="field">
      <div class="ui slider checkbox">
        <input type="radio" name="throughput">
        <label>10mbps max</label>
      </div>
    </div>
    <div class="field">
      <div class="ui slider checkbox">
        <input type="radio" name="throughput">
        <label>5mbps max</label>
      </div>
    </div>
    <div class="field">
      <div class="ui slider checkbox checked">
        <input type="radio" name="throughput">
        <label>Unmetered</label>
      </div>
    </div>
  </div>