<case>
	<div class="row">
	    <div class="col-sm-6">
	        <div class="panel blank-panel">

	            <div class="panel-heading">
	                <div class="panel-title m-b-md">
	                    <h4>图标选项卡</h4>
	                </div>
	                <div class="panel-options">

	                    <ul class="nav nav-tabs">
	                        <li class="active"><a data-toggle="tab" href="tabs_panels.html#tab-4"><i class="fa fa-laptop"></i></a>
	                        </li>
	                        <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-5"><i class="fa fa-desktop"></i></a>
	                        </li>
	                        <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-6"><i class="fa fa-signal"></i></a>
	                        </li>
	                        <li class=""><a data-toggle="tab" href="tabs_panels.html#tab-7"><i class="fa fa-bar-chart-o"></i></a>
	                        </li>
	                    </ul>
	                </div>
	            </div>

	            <div class="panel-body">
	                <div class="tab-content">
	                    <div id="tab-4" class="tab-pane active">
	                        <strong>排版与链接</strong>

	                        <p>Bootstrap 排版、链接样式设置了基本的全局样式。分别是： 为 body 元素设置 background-color: #fff; 使用 @font-family-base、@font-size-base 和 @line-height-base a变量作为排版的基本参数 为所有链接设置了基本颜色 @link-color ，并且当链接处于 :hover 状态时才添加下划线 这些样式都能在 scaffolding.less 文件中找到对应的源码。</p>
	                    </div>

	                    <div id="tab-5" class="tab-pane">
	                        <strong>Normalize.css</strong>

	                        <p>为了增强跨浏览器表现的一致性，我们使用了 Normalize.css，这是由 Nicolas Gallagher 和 Jonathan Neal 维护的一个CSS 重置样式库。</p>
	                    </div>
	                    <div id="tab-6" class="tab-pane">
	                        <strong>布局容器</strong>

	                        <p>Bootstrap 需要为页面内容和栅格系统包裹一个 .container 容器。我们提供了两个作此用处的类。注意，由于 padding 等属性的原因，这两种 容器类不能互相嵌套。</p>
	                    </div>
	                    <div id="tab-7" class="tab-pane">
	                        <strong>栅格系统</strong>

	                        <p>Bootstrap 提供了一套响应式、移动设备优先的流式栅格系统，随着屏幕或视口（viewport）尺寸的增加，系统会自动分为最多12列。它包含了易于使用的预定义类，还有强大的mixin 用于生成更具语义的布局。</p>
	                    </div>
	                </div>

	            </div>

	        </div>
	    </div>
	</div>
</case>