<extend name="Public:base" />
<block name="meta">
    <title>complete</title>
</block>
<block name="main">
    <div class="ui main text container">
        <div class="column">
            <div class="ui secondary pointing menu">
                <div class="active item">安装协议</div>
                <a class="active item">环境检测</a>
                <a class="active item">参数设置</a>
                <a class="active item">开始安装</a>
                <a class="active item">完成安装</a>
            </div>
        </div>
        <div class="colum steps">
            <h6 class="ui top attached inverted header">jankzMaker安装协议</h6>
            <div class="ui buttom attached segment">
                <h2 class="ui center aligned icon header"><i class="circular teal checkmark icon"></i> 安装完成! </h2>

                 <a class="ui tiny teal fluid button" href="{:U('Home/Index/index')}">打开前台</a>
<a class="ui tiny fluid button " style="margin-top: 0.2em" href="{:U('Admin/Index/index')}">进入后台</a>

            </div>
            <h6 class="ui bottom attached header">版权所有 (c) 2014－2016楠哲科技有限公司 保留所有权利。</h6>
        </div>
    </div>
</block>
<block name="my_js"></block>