<extend name="Public:base" />
<block name="meta">
    <title>step1</title>
</block>
<block name="main">
    <div class="ui main text container">
        <div class="column">
            <div class="ui secondary pointing menu">
                <div class="active item">安装协议</div>
                <a class="active item">环境检测</a>
                <a class="item">参数设置</a>
                <a class="item">开始安装</a>
                <a class="item">完成安装</a>
            </div>
        </div>
        <div class="colum steps">
            <h6 class="ui top attached inverted header">jankzMaker安装协议</h6>
            <div class="ui buttom attached segment">
                <div class="column step-padding">

                    <h1>环境检测</h1>
                    <table class="ui very basic aligned table">
                        <h2>运行环境检查</h2>

                        <thead>
                            <tr>
                                <th>项目</th>
                                <th>所需配置</th>
                                <th>当前配置</th>
                                <th>检测结果</th>
                            </tr>
                        </thead>
                        <tbody>
                             <volist name="check_env" id="item">
                            <tr>
                                <td>{$item['title']}</td>
                                <td>{$item['limit']}</td>
                                <td>{$item['current']}</td>
                                <td><i class="fa {$item['icon']}"></i></td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                    <present name="check_dirfile">
                        <table class="ui very basic aligned table">

                            <h2>目录、文件权限检查</h2>
                            <thead>
                                <tr>
                                    <th>目录/文件</th>
                                    <th>所需状态</th>
                                    <th>当前状态</th>
                                    <th>检测结果</th>
                                </tr>
                            </thead>
                            <tbody>
                                <volist name="check_dirfile" id="item">
                                <tr>
                                    <td>{$item['path']}</td>
                                    <td><i class="fa fa-check text-success"></i> 可写</td>
                                    <td>{$item['title']}</td>
                                    <td><i class="fa {$item['icon']}"></i> </td>
                                </tr>
                            </volist>
                            </tbody>
                        </table>
                    </present>
                    <table class="ui very basic aligned table">
                        <h2>函数依赖性检查</h2>
                        <thead>
                            <tr>
                                <th>函数名称</th>
                                <th>所需状态</th>
                                <th>当前状态</th>
                                <th>检测结果</th>
                            </tr>
                        </thead>
                        <tbody>
                            <volist name="check_func_and_ext" id="item">
                            <tr>
                                <td>{$item['name']}</td>
                                <td>安装</td>
                                <td>{$item['title']}</td>
                                <td><i class="fa {$item['icon']}"></i> </td>
                            </tr>
                        </volist>
                        </tbody>
                    </table>
                </div>

                <a class="ui tiny teal fluid button" href="{:U('step3')}">下一步</a>
                <a class="ui tiny fluid button " style="margin-top: 0.2em">上一步</a>
            </div>
        </div>
    </div>
</block>
<block name="my_js"></block>